html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#gmap {
	position: absolute;
	height: 100%;
	width: 100%;
}
/* fix: para los botones de zoom de google maps no se reduzcan de tamaño */
#gmap img {
	max-width: none;
}

#toolbar {
	position: absolute;
	left: 90px;
	top: 20px;
	z-index: 99;
}
